@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro";
}

body {
  background: #171717;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid orange;
}
@layer components {
  .info {
    color: transparent;
    -webkit-text-stroke-width: 0.06rem;
    -webkit-text-stroke-color: white;
  }

  .jobs {
    color: transparent;
    -webkit-text-stroke-width: 0.06rem;
    -webkit-text-stroke-color: #dd9f00;
  }
}

.link-hover {
  position: relative;
  cursor: pointer;
}

.link-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #dd9f00;
  transition: width 0.5s ease-in-out;
}
.link-hover:hover::before {
  width: 100%;
}
